<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
  <hr>
  <h2>Users</h2>
  <a class="btn btn-success" href="/admin/users/create">Create New User</a>
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include ('../../partials/footer.ejs') %>